html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  overflow: hidden;
  position: relative;
  max-height: 500px;
}

.title {
  font-size: 4rem;
  color: #fff;
  margin: 0;
  font-weight: bold;
}

p {
  font-size: 2rem;
  font-style: italic;
  margin: 0;
}

span {
  background-color: rgba(0, 0, 0, 0.5);
}

.body {
  position: absolute;
  bottom: 0;
  margin: 0.5em;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  max-width: 45em;
  width: 100%;
}

body {
  margin: 0;
}
